# 🔒 WhatsApp session files
session/
*.lock

# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# optional (only if unataka kabisa)
# *.json (USIWEKE unless unajua unafanya nini)
